*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
}

body {
  box-sizing: border-box;
  background-color: #757575;
}

::selection {
  color: #ffffff;
  background-color: #aabbcc;
}

h1 {
  font-size: 28px;
  line-height: 24px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-size: 19px;
  line-height: 24px;
  color: #666666;
}

button {
  font-size: 19px;
  line-height: 16px;
  cursor: pointer;
}

p {
  font-size: 16px;
  line-height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #e8e8e8;
}

@media screen and (max-width: 1200px) {
  section > hr,
  .container > hr {
    margin: 0 10px;
  }
}

input[type="date"] {
  border: none;
  padding: 5px 10px;
  transform: translateY(-2px);
}

input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  background-color: #ffffff;
  transform: translateY(2px);
  margin: 0 5px;
  cursor: pointer;
}
input[type="radio"]:checked {
  background-color: #448899;
}

.bold {
  font-weight: bold;
}

.caution {
  font-weight: bold;
  font-size: 16px;
  color: #666666;
}

.arrow-left {
  cursor: pointer;
  background-image: url("../img/icon/arrow-left.png");
  opacity: 0.75;
}
.arrow-left--border {
  background-image: url("../img/icon/arrow-left-border.png");
  opacity: 0.5;
}
.arrow-left:hover {
  opacity: 1;
}

.arrow-right {
  cursor: pointer;
  background-image: url("../img/icon/arrow-right.png");
  opacity: 0.75;
}
.arrow-right--border {
  background-image: url("../img/icon/arrow-right-border.png");
  opacity: 0.5;
}
.arrow-right:hover {
  opacity: 1;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.nav__title {
  color: #448899;
}
.nav__list {
  list-style: none;
  display: flex;
}
.nav__list > li {
  line-height: 13.3px;
  font-weight: 500;
  color: #666666;
  padding: 10px;
  cursor: pointer;
}

.hero__slogan {
  color: #ffffff;
  margin-bottom: 15px;
}
.hero__slogan--sub {
  color: #ffffff;
  margin-bottom: 25px;
}

#search {
  display: flex;
  height: 46px;
  max-width: 460px;
}
.search__input {
  border-radius: 5px 0 0 5px;
  height: inherit;
  flex-grow: 1;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  padding-left: 10px;
}
.search__input::placeholder {
  color: #757575;
}
.search__submit {
  border-radius: 0 5px 5px 0;
  width: 60px;
  flex-shrink: 0;
  border: none;
  height: inherit;
  background-color: #448899;
  cursor: pointer;
}

.mrt__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.mrt__container > .arrow {
  height: 32px;
  width: 32px;
}
.mrt__list {
  list-style: none;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  padding: 13px 10px;
  scroll-behavior: smooth;
}
.mrt__list > li {
  cursor: pointer;
  flex-shrink: 0;
  line-height: 13.3px;
  padding: 5px 15px;
  color: #666666;
  transition: color 0.2s;
}
.mrt__list > li:hover {
  color: #000000;
}

.arrow {
  flex-shrink: 0;
  transition: background-image 0.2s;
}

.attraction-card {
  max-width: 330px;
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.attraction-card__image {
  display: flex;
  align-items: flex-end;
  height: 197px;
  background-color: #66aabb;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  transition: all 0.2s;
}
@media screen and (max-width: 600px) {
  .attraction-card__image {
    height: 235px;
  }
}
.attraction-card__name {
  min-height: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  flex-grow: 1;
  padding: 10px;
}
.attraction-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 10px;
  color: #757575;
}
.attraction-card:hover .attraction-card__image {
  opacity: 0.8;
}

.attraction__gallery > .arrow {
  cursor: pointer;
  width: 36px;
  height: 36px;
}
.attraction__slider {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 5px;
}
@media screen and (max-width: 700px) {
  .attraction__slider {
    border-radius: 0;
  }
}
.attraction__slider > img {
  width: 100%;
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
@media screen and (max-width: 700px) {
  .attraction__slider > img {
    max-height: 350px;
  }
}
.attraction__slider-nav {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.attraction__slider-nav > .dot {
  cursor: pointer;
  margin: 0 6px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  border-radius: 100%;
  opacity: 0.75;
}
.attraction__slider-nav > .dot.active {
  background-color: #000000;
}
.attraction__sub {
  margin-bottom: 20px;
}
.attraction__reservation {
  background-color: #e8e8e8;
  padding: 15px 20px;
  border-radius: 5px;
}

.attraction__reservation-form > .form {
  display: flex;
  margin-bottom: 15px;
}
.attraction__reservation-form > .form > .form__label {
  font-weight: bold;
  margin-right: 5px;
}
.attraction__reservation-form > .form > .form__input {
  display: flex;
}
.attraction__reservation-form > .form > .form__input > div {
  margin-right: 5px;
}
.attraction__reservation-form > button {
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #448899;
  border-radius: 5px;
  margin-top: 10px;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.popup__top-border-wrap {
  width: 340px;
  position: absolute;
  top: 80px;
  left: 50vw;
  border-radius: 5px;
  transform: translateX(-50%);
  background: linear-gradient(to right, #66aabb, #337788);
  padding-top: 10px;
}
.popup__container {
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  border-top: 10px solid linear-gradient(to right, #66aabb, #337788);
}
.popup__container > .close {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.popup__container > h3 {
  color: #666666;
}
.popup__container > form {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.popup__container > form > input {
  height: 47px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 13.3px;
}
.popup__container > form > button {
  border: none;
  color: #ffffff;
  padding: 15px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #448899;
}
.popup__container > .hint {
  color: #666666;
}
.popup__container > .hint > span {
  cursor: pointer;
}

.nav {
  height: 54px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 10px;
}
.nav__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > hr {
  margin: 10px -10px;
}

.hero {
  height: 320px;
  background-image: url("../img/welcome-image.png");
  background-size: cover;
}
.hero__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 85px 10px;
}
@media screen and (max-width: 1200px) {
  .hero__container {
    padding: 85px 20px;
  }
}

main {
  background-color: #ffffff;
  padding-top: 54px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 40px 0;
  background-color: #ffffff;
}

.attractions {
  min-height: 244px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
  gap: 30px;
  padding: 15px;
}

.attraction__head {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}
@media screen and (max-width: 700px) {
  .attraction__head {
    flex-direction: column;
    gap: 20px;
    margin-top: -40px;
  }
}
.attraction__gallery {
  width: 45%;
  max-height: 400px;
  margin-left: 15px;
  position: relative;
}
@media screen and (max-width: 700px) {
  .attraction__gallery {
    width: 100%;
    margin-left: 0;
  }
}
.attraction__gallery > .arrow {
  position: absolute;
  top: 46%;
  z-index: 1;
}
.attraction__gallery > .arrow-left {
  left: 10px;
}
.attraction__gallery > .arrow-right {
  right: 10px;
}
.attraction__info {
  color: #757575;
  flex-grow: 1;
  margin-right: 15px;
}
@media screen and (max-width: 700px) {
  .attraction__info {
    margin: 10px;
  }
}
.attraction__info > h3 {
  margin-bottom: 15px;
}
.attraction__body {
  margin: 40px 0;
  color: #666666;
}
@media screen and (max-width: 700px) {
  .attraction__body {
    padding: 10px;
  }
}
.attraction__body > div {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: -10px;
}
.attraction__body > p {
  padding: 10px;
}

.footer {
  min-height: 104px;
  background-color: #757575;
  text-align: center;
  padding: 45px 0;
  line-height: 13.3px;
  color: #ffffff;
}

.container > section.booking {
  max-width: 1000px;
  margin: 0 auto;
}
.container > section.booking > div {
  padding: 40px 10px;
}
.container > section.booking > h4 {
  margin-bottom: -10px;
}
@media screen and (max-width: 1020px) {
  .container > section.booking > h4 {
    margin-left: 10px;
  }
}

.container > section.thankyou {
  text-align: center;
  color: #666666;
}

.container > section.thankyou > p {
  padding: 20px;
}

.booking__attraction {
  display: flex;
  gap: 30px;
  position: relative;
}
.booking__attraction > #btn-delete {
  position: absolute;
  top: 40px;
  right: 10px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .booking__attraction {
    flex-direction: column;
    margin-bottom: -10px;
  }
  .booking__attraction > #btn-delete {
    top: unset;
    bottom: 40px;
  }
}
.booking__attraction-image {
  width: 250px;
  height: 200px;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .booking__attraction-image {
    width: 100%;
  }
}
.booking__attraction-info {
  height: 200px;
}
.booking__attraction-title {
  color: #448899;
  margin-bottom: 20px;
}
.booking__attraction-detail {
  display: flex;
  margin-bottom: 10px;
  color: #666666;
}
.booking__attraction-detail--label {
  font-weight: bold;
  flex-shrink: 0;
}
.booking__user-contact-info > form,
.booking__payment > form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.booking__user-contact-info > form > .form {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #666666;
}
.booking__user-contact-info > form > .form > label {
  flex-shrink: 0;
}
.booking__payment > form > .form-group {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #666666;
}
.booking__payment > form > .form-group > label {
  flex-shrink: 0;
}
.booking__user-contact-info > form > .form > input {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  height: 38px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 10px;
}
.booking__user-contact-info > .caution {
  margin-top: 20px;
}
.booking__confirm {
  text-align: right;
}
.booking__confirm > .caution {
  margin-bottom: 22px;
}
.booking__confirm > button {
  color: #ffffff;
  background-color: #448899;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.booking__confirm > button:disabled {
  color: #ffffff;
  background-color: #666666;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: default;
}
/* TapPay Field Container */
.tpfield {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  height: 38px;
  width: 200px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 10px;
}
.tappay-field-focus {
  border: 2px solid black;
}
.has-error > .control-label {
  color: #d15858 !important;
}
.has-error > .form-control {
  border: 1px solid #d15858 !important;
}
.has-success > .control-label {
  color: #666666 !important;
}
.has-success > .form-control {
  border: 1px solid #e8e8e8 !important;
}

span.input-check {
  color: #d15858;
  font-size: 14px;
  margin-left: 5px;
}
@media screen and (max-width: 400px) {
  span.input-check {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
