// VARIABLES
$cyan-70: #448899;
$cyan-50: #66aabb;
$cyan-20: #aaddee;

$gray-70: #666666;
$gray-50: #757575;
$gray-20: #e8e8e8;
$gray-10: #f8f8f8;

$black: #000000;
$white: #ffffff;
$blue-gray: #aabbcc;
$dark-cyan-grad: linear-gradient(to right, #66aabb, #337788);
$light-cyan-grad: linear-gradient(135deg, #aaddee, #66aabb);

// MIXINS

// FUNCTIONS
