@use "./absctact" as *;

// Low level basis
// RESETS
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Style for html & body
html {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
}

body {
  box-sizing: border-box;
  background-color: $gray-50;
}

::selection {
  color: $white;
  background-color: $blue-gray;
}

// ANIMATIONS

// TYPOGRAPHY
h1 {
  font-size: 28px;
  line-height: 24px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

button {
  font-size: 19px;
  line-height: 16px;
  cursor: pointer;
}

p {
  font-size: 16px;
  line-height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: $gray-20;
}

section > hr {
  @media screen and (max-width: 1200px) {
    margin: 0 10px;
  }
}

input[type="date"] {
  border: none;
  padding: 5px 10px;
  transform: translateY(-2px);
}

input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid $white;
  border-radius: 100%;
  background-color: $white;
  transform: translateY(2px);
  margin: 0 5px;
  cursor: pointer;
  &:checked {
    background-color: $cyan-70;
  }
}

// UTILITIES
.bold {
  font-weight: bold;
}

.arrow-left {
  cursor: pointer;
  background-image: url("../img/icon/arrow-left.png");
  opacity: 0.75;
  &--border {
    background-image: url("../img/icon/arrow-left-border.png");
    opacity: 0.5;
  }
  &:hover {
    opacity: 1;
  }
}

.arrow-right {
  cursor: pointer;
  background-image: url("../img/icon/arrow-right.png");
  opacity: 0.75;
  &--border {
    background-image: url("../img/icon/arrow-right-border.png");
    opacity: 0.5;
  }
  &:hover {
    opacity: 1;
  }
}
