@use "./absctact" as *;

// NAV
.nav {
  &__title {
    color: $cyan-70;
  }
  &__list {
    list-style: none;
    display: flex;
    & > li {
      line-height: 13.3px;
      font-weight: 500;
      color: $gray-70;
      padding: 10px;
      cursor: pointer;
    }
  }
}

// HERO
.hero {
  &__slogan {
    color: $white;
    margin-bottom: 15px;
    &--sub {
      color: $white;
      margin-bottom: 25px;
    }
  }
}

// SEARCH
.search {
  display: flex;
  height: 46px;
  max-width: 460px;
  &__input {
    border-radius: 5px 0 0 5px;
    height: inherit;
    flex-grow: 1;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: $black;
    padding-left: 10px;
    &::placeholder {
      color: $gray-50;
    }
  }
  &__submit {
    border-radius: 0 5px 5px 0;
    width: 60px;
    flex-shrink: 0;
    border: none;
    height: inherit;
    background-color: $cyan-70;
    cursor: pointer;
  }
}

// MRT
.mrt {
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    & > .arrow {
      height: 32px;
      width: 32px;
    }
  }
  &__list {
    list-style: none;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    padding: 13px 10px;
    scroll-behavior: smooth;
    & > li {
      cursor: pointer;
      flex-shrink: 0;
      line-height: 13.3px;
      padding: 5px 15px;
      color: $gray-70;
      transition: color 0.2s;
      &:hover {
        color: $black;
      }
    }
  }
}

.arrow {
  flex-shrink: 0;
  transition: background-image 0.2s;
}

// ATTRACTIONS
.attraction-card {
  max-width: 330px;
  width: 100%;
  border: 1px solid $gray-20;
  border-radius: 5px;
  &__image {
    display: flex;
    align-items: flex-end;
    height: 197px;
    background-color: $cyan-50;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    transition: all 0.2s;
    @media screen and (max-width: 600px) {
      height: 235px;
    }
  }
  &__name {
    min-height: 40px;
    color: white;
    background-color: rgb(0, 0, 0, 60%);
    flex-grow: 1;
    padding: 10px;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 10px;
    color: $gray-50;
  }
  &:hover &__image {
    opacity: 0.8;
  }
}

// ATTRACTION
.attraction {
  &__gallery > .arrow {
    cursor: pointer;
    width: 36px;
    height: 36px;
  }
  &__slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-radius: 5px;
    @media screen and (max-width: 700px) {
      border-radius: 0;
    }
    & > img {
      width: 100%;
      flex: 1 0 100%;
      scroll-snap-align: start;
      object-fit: cover;
      @media screen and (max-width: 700px) {
        max-height: 350px;
      }
    }
    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
  &__slider-nav {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    & > .dot {
      cursor: pointer;
      margin: 0 6px;
      width: 12px;
      height: 12px;
      background-color: $white;
      outline: 2px solid $white;
      outline-offset: -2px;
      border-radius: 100%;
      opacity: 0.75;
      &.active {
        background-color: $black;
      }
    }
  }
  &__sub {
    margin-bottom: 20px;
  }
  &__reservation {
    background-color: $gray-20;
    padding: 15px 20px;
    border-radius: 5px;
  }
}
.attraction__reservation-form {
  & > .form {
    display: flex;
    margin-bottom: 15px;
    & > .form__label {
      font-weight: bold;
      margin-right: 5px;
    }
    & > .form__input {
      display: flex;
      & > div {
        margin-right: 5px;
      }
    }
  }
  & > button {
    border: none;
    padding: 10px 20px;
    color: $white;
    background-color: $cyan-70;
    border-radius: 5px;
    margin-top: 10px;
  }
}

// POPUP
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  &__top-border-wrap {
    width: 340px;
    position: absolute;
    top: 80px;
    left: 50vw;
    border-radius: 5px;
    transform: translateX(-50%);
    background: $dark-cyan-grad;
    padding-top: 10px;
  }
  &__container {
    text-align: center;
    width: 100%;
    background-color: $white;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    border-top: 10px solid $dark-cyan-grad;
    & > .close {
      position: absolute;
      top: 20px;
      right: 10px;
      cursor: pointer;
    }
    & > h3 {
      color: $gray-70;
    }
    & > form {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      & > input {
        height: 47px;
        margin: 5px 0;
        border-radius: 5px;
        border: 1px solid #cccccc;
        padding-left: 15px;
        font-size: 16px;
        font-weight: bold;
        line-height: 13.3px;
      }
      & > button {
        border: none;
        color: $white;
        padding: 15px;
        margin: 5px 0;
        border-radius: 5px;
        background-color: $cyan-70;
      }
    }
    & > .hint {
      color: $gray-70;
      & > span {
        cursor: pointer;
      }
    }
  }
}
